:root {
	--med: 16px;
}

html,
body {
	height: 100%;
	color: black;
	font-size: 16px;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;

	font-family: 'Fredoka', sans-serif;
}

header {
	background-color: lightgoldenrodyellow;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 100%;
}

.board {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background-color: white;
	min-width: 256px;
	min-height: 256px;

	width: 100%;
	max-width: 480px;
	max-height: 480px;
	aspect-ratio: 1/1;
	border: solid 1px black;
	box-sizing: border-box;
	margin: var(--med);
}

.area {
	display: flex;
	justify-content: center;
	align-items: center;
	aspect-ratio: 1/1;
	border: solid 1px black;
	overflow: hidden;
	font-size: clamp(8rem, 40vw, 12rem);
	font-weight: 300;
	height: fit-content;
}
.area span {
	transform: translateY(-11%);
}

footer {
	background-color: lightsteelblue;
}

header,
footer {
	text-align: center;
}
